@use './variable';
@use 'sass:color';

.vertical-scroll {
  height: 100%;
  overflow: auto;
}

// icon
@mixin icon-color ($type, $color) {
  .icon-#{$type} {
    color: $color;

    &:hover {
      color: color.scale($color, $lightness: 20%);
    }

    &:active {
      color: color.scale($color, $lightness: -20%);
    }
  }
}

@include icon-color(primary, variable.$color-primary);
@include icon-color(success, #28BF8D);
@include icon-color(warning, #FF8F44);
@include icon-color(danger, #FF6E95);

.detail-container {
  padding: 20px 16px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #e6e7ef;
  margin-bottom: 12px;

  .detail-title {
    font-size: 14px;
    font-weight: bold;
  }
}

.module-detail {
  padding: 20px 16px;
  height: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #e6e7ef;
  }

  .module-title {
    font-size: 15px;
    font-weight: bold;

    &-sub {
      font-size: 14px;
      font-weight: bold;
    }
  }

  &-body {
    height: calc(100% - 40px);
    // overflow: auto;
    display: flex;

    .module-detail-main {
      height: 100%;
      overflow: auto;
      flex: 1;

      .main-line {
        line-height: 40px;
      }
    }
    .module-detail-step {
      height: 100%;
      .el-steps--vertical {
        height: auto;
      }
    }
  }
}

.template-link {
  font-size: 14px;
  color: variable.$color-link;
  cursor: pointer;
}

.drawer-op-info {
  color: #7D7D85;
}

.drawer-op-primary {
  color: #0C75E2;
  font-weight: bold;
}

.form-subtitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 18px;
}

.form-subtitle label {
  width: 100% !important;
  display: block;
  text-align: left;
}
